body { background: #1134e7; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-helper-0 { color: #1eca88; font-size: 12px; margin-bottom: 5px; }
.block-email-1 { color: #ae46c2; font-size: 13px; margin-bottom: 5px; }
.block-product-2 { color: #aff364; font-size: 17px; margin-bottom: 5px; }
.block-filter-3 { color: #147a58; font-size: 14px; margin-bottom: 5px; }
.block-email-4 { color: #b476b9; font-size: 19px; margin-bottom: 5px; }
.block-config-5 { color: #110dea; font-size: 17px; margin-bottom: 5px; }